Ajax Test/Service References/EKREST/wcf_enkontrol.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAgentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAgentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerAgentesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalle_Agente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Numero_Empleado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalle_AgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerDetalle_AgenteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Agente_Estatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
        <xs:element minOccurs="0" name="Empleado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Agente_EstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Actualizar_Agente_EstatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_Agente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objAgenteJson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_AgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insertar_AgenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Datos_Cliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
        <xs:element minOccurs="0" name="Numero_Cliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Datos_ClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_Datos_ClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFraccionamientos_Empresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFraccionamientos_EmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerFraccionamientos_EmpresaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Apartar_Lote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
        <xs:element minOccurs="0" name="LoteId" type="xs:int" />
        <xs:element minOccurs="0" name="Cliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Apartar_LoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Apartar_LoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Desapartar_Lote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
        <xs:element minOccurs="0" name="LoteId" type="xs:int" />
        <xs:element minOccurs="0" name="Cliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Desapartar_LoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Desapartar_LoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUbicaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
        <xs:element minOccurs="0" name="Centro_Costo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUbicacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerUbicacionesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContratos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoteId" type="xs:int" />
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContratosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerContratosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>