Ajax Test/Service References/EKREST/wcf_enkontrol2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.14/EK_REST/wcf_enkontrol.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_ENKONTROL" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConsultas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Consulta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Numero_Empresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConsultasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerConsultasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_OrigenAgente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_OrigenAgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_ENKONTROL" minOccurs="0" name="Obtener_OrigenAgenteResult" nillable="true" type="q1:ArrayOfOrigenAgente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAgentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAgentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerAgentesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAgentes_Prospectadores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAgentes_ProspectadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerAgentes_ProspectadoresResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAgentes_Cerradores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAgentes_CerradoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerAgentes_CerradoresResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAgentes_Moviles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAgentes_MovilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerAgentes_MovilesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalle_Agente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Numero_Empleado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetalle_AgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerDetalle_AgenteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Agente_Estatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
        <xs:element minOccurs="0" name="Empleado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_Agente_EstatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Actualizar_Agente_EstatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Datos_Cliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
        <xs:element minOccurs="0" name="Numero_Cliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Datos_ClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_Datos_ClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Datos_Cliente_X_LoteId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
        <xs:element minOccurs="0" name="Lote_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Datos_Cliente_X_LoteIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_Datos_Cliente_X_LoteIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ClientesXEscriturar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ClientesXEscriturarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_ClientesXEscriturarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatos_Empresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatos_EmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerDatos_EmpresaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFraccionamientos_Empresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFraccionamientos_EmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerFraccionamientos_EmpresaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Lotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_LotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_LotesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Apartar_Lote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
        <xs:element minOccurs="0" name="LoteId" type="xs:int" />
        <xs:element minOccurs="0" name="Cliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Apartar_LoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Apartar_LoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Desapartar_Lote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
        <xs:element minOccurs="0" name="LoteId" type="xs:int" />
        <xs:element minOccurs="0" name="Cliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Desapartar_LoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Desapartar_LoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSManzanas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
        <xs:element minOccurs="0" name="CC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSManzanasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerSManzanasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_TipoCasa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_TipoCasaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_TipoCasaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_IdLoteXCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
        <xs:element minOccurs="0" name="Cliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_IdLoteXClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_IdLoteXClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUbicaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
        <xs:element minOccurs="0" name="Centro_Costo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUbicacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerUbicacionesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContratos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoteId" type="xs:int" />
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContratosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerContratosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Prototipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
        <xs:element minOccurs="0" name="Centro_Costo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PrototipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_PrototipoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_EntregaVivienda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" type="xs:int" />
        <xs:element minOccurs="0" name="Fec_Inico" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Fec_Fin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_EntregaViviendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_EntregaViviendaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Prospecciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_ProspeccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_ENKONTROL" minOccurs="0" name="Obtener_ProspeccionesResult" nillable="true" type="q2:ArrayOfProspeccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Cancelaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_CancelacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_ENKONTROL" minOccurs="0" name="Obtener_CancelacionesResult" nillable="true" type="q3:ArrayOfCancelacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Separaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_SeparacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_ENKONTROL" minOccurs="0" name="Obtener_SeparacionesResult" nillable="true" type="q4:ArrayOfSeparacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>