Ajax Test/Service References/EKREST/wcf_enkontrol1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_ENKONTROL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_ENKONTROL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrigenAgente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrigenAgente" nillable="true" type="tns:OrigenAgente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrigenAgente" nillable="true" type="tns:ArrayOfOrigenAgente" />
  <xs:complexType name="OrigenAgente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrigenAgente" nillable="true" type="tns:OrigenAgente" />
  <xs:complexType name="ArrayOfProspeccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prospeccion" nillable="true" type="tns:Prospeccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProspeccion" nillable="true" type="tns:ArrayOfProspeccion" />
  <xs:complexType name="Prospeccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="agente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empresa" type="xs:int" />
      <xs:element minOccurs="0" name="nombreLider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroAgente" type="xs:int" />
      <xs:element minOccurs="0" name="numeroCliente" type="xs:int" />
      <xs:element minOccurs="0" name="numeroLider" type="xs:int" />
      <xs:element minOccurs="0" name="zona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prospeccion" nillable="true" type="tns:Prospeccion" />
  <xs:complexType name="ArrayOfCancelacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cancelacion" nillable="true" type="tns:Cancelacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCancelacion" nillable="true" type="tns:ArrayOfCancelacion" />
  <xs:complexType name="Cancelacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="cc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCancelacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombreAgente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreLider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroAgente" type="xs:int" />
      <xs:element minOccurs="0" name="numeroCliente" type="xs:int" />
      <xs:element minOccurs="0" name="numeroLider" type="xs:int" />
      <xs:element minOccurs="0" name="zona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cancelacion" nillable="true" type="tns:Cancelacion" />
  <xs:complexType name="ArrayOfSeparacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Separacion" nillable="true" type="tns:Separacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeparacion" nillable="true" type="tns:ArrayOfSeparacion" />
  <xs:complexType name="Separacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="agente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empresa" type="xs:int" />
      <xs:element minOccurs="0" name="nombreLider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroAgente" type="xs:int" />
      <xs:element minOccurs="0" name="numeroCliente" type="xs:int" />
      <xs:element minOccurs="0" name="numeroLider" type="xs:int" />
      <xs:element minOccurs="0" name="zona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Separacion" nillable="true" type="tns:Separacion" />
</xs:schema>